#container {
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 30px;
  border-radius: 20px;
  background-color: #CACCCF;
  text-align: left;
  padding: 5px 100px 5px 100px;
}
#name-contact {
  text-align:right;
}
div.thumbnail {
  position: absolute;
    left: 200px;
    top: 40px;
}

