body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 26px;
  text-shadow: 4px 4px 4px #aaa;
}

p {
color: red;
}
.name {
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 80px;
}
h3 {
  color:DarkSlateGray;
}
    
