body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 26px;
  background-color:#E3CE8F;
}

.name {
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

h3 {
  color:DarkSlateGray;
}
    
